.Fare{
	font-size: 12px;
    position: relative;
    top: -19px;
    right: -6px;
    float: right;
    color: white;
    background-color: #146EAD;
    padding: 5px;
    border-radius: 6px;
	
}/*
.x-button-normal.x-button.x-layout-box-item.x-stretched.Buttons{
	width:20%;
	color:red;
	
}*/
.x-button.Buttons{
background-image: none;
    background-color: #33CCFF;
    //background-image: -webkit-linear-gradient(top, #000000, #000000 3%, #ffffff);
    width:20%;
    height:10%;
    
}

.x-button.Driver{
background-image: none;
    background-color: red;
    //background-image: -webkit-linear-gradient(top, #000000, #000000 3%, #ffffff);
    width:29%;
    height:10%;
    
}

.x-button.ButtonsR{
background-image: none;
    background-color: red;
    //background-image: -webkit-linear-gradient(top, #000000, #000000 3%, #ffffff);
    width:20%;
    height:10%;
    
}

.centerSet{
	width: 100%;
    color: black;
    text-align: center;
    border: 1px solid #136199;
    margin-top: 1px;
    background-color: white;
   
}
.x-list.disc .x-list-disclosure:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: 'View';
     font-family: '';
    color: #fff;
    font-size: 23px;
    text-align: center;
    line-height: 29px;
    text-shadow: 0 0 0;
}
.x-list.disc .x-list-disclosure{
    position: relative;
    overflow: visible;
    /* border: 1px solid black; */
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    border-radius: 6px;
    background-image: none;
    background-color: #1A67C7;
    /* background-image: -webkit-linear-gradient(top, #0398ff, #007ad0 3%, #005c9d); */
    background-image: -moz-linear-gradient(top, #0398ff, #007ad0 3%, #005c9d);
    background-image: -o-linear-gradient(top, #0398ff, #007ad0 3%, #005c9d);
    background-image: -ms-linear-gradient(top, #0398ff, #007ad0 3%, #005c9d);
    width: 71px;
    height: 30px;
    margin: 7px 7px 0 0;
}
.x-button.x-button-action.mainScreenButton{
	background-image: none;
    background-color: #E68721;
}
.x-toolbar-dark.mainTitle{
	background-image: none;
    background-color: #000000;
    color:#E68721;
}
.x-toolbar-dark.mainTitle .x-title{
	color: #E68721;
}
.x-button.x-button-action.button1{
	background-image: none;
    color: #E68721;
    background-color: black;
}
.x-layout-card-item.Booking{
	    background-color: #F7B166;
}

.x-toolbar-dark .x-button.buttonTop{
	background-image: none;
    border: 1px solid #E68721;
    background-color: black;
    /* background-image: -webkit-linear-gradient(top, #1985d0,#1468a2 3%,#0e4b75); */
    color: #E68721;
}
#labelWidth.x-form-label {
    
    width: 50%;
}
.mycustomclass{
-webkit-mask-box-image: url('travel_bus.png');
}

/*.mainScreenButton{
	background: url(travel_bus.png) no-repeat !important;
	width:10px,
	height:10px;
}*/
#TicketStatus{
/*	color: green;*/
}

.cancelstatusColor{
	display:inline;
	color:white;
}
.statusColor{
	display:inline;
	color:white;
}
.TicketStatusConfirm{
	    background-color: green;
   
    text-align: center;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.TicketStatusCancel{
	    background-color: red;
   
    text-align: center;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.pictosClass{
	font-family:'Pictos';
	 
}
.x-container.x-toolbar-dark.x-toolbar.x-stretched.searchBar.x-dock-item.x-docked-top{
	    background-image: none;
    background-color: black;
   
}
.x-container.x-field-search.x-field.x-label-align-left.x-stretched.x-form-label-nowrap.x-empty.x-layout-box-item{
	padding: .5em;
    min-height: 0;
    border-bottom: 0;
    background: transparent;
    width: 100%;
    border-top: 1px solid #E68721;
}
.x-list .x-list-item.x-list-item-tpl .x-innerhtml.{
	background-color:gray;
}
.x-list .x-list-item.x-item-selected .x-list-item-tpl{
	        background-image: none;
    background-color: black;
    background-image: -webkit-linear-gradient(top, #0398ff,#007ad0 3%,#005c9d);
    background-image: -moz-linear-gradient(top, #0398ff,#007ad0 3%,#005c9d);
    background-image: -o-linear-gradient(top, #0398ff,#007ad0 3%,#005c9d);
    background-image: -ms-linear-gradient(top, #0398ff,#007ad0 3%,#005c9d);
    color: #fff;
}
